<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="core.activities">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".SomeActivityWithIntentFilter" android:label="Some activity with custom action">

            <intent-filter>
                <action android:name="core.activities.CUSTOM_ACTION"/>
                <!-- Doesn't work without category. -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".AnotherActivityWithIntentFilter" android:label="Another activity with custom action">
            <intent-filter>
                <action android:name="core.activities.CUSTOM_ACTION"/>
                <!-- Doesn't work without category. -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SecondaryActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>